@model MVCWEBAPP.Models.Emp
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @using (Html.BeginForm()
        {
            <p>Emp Code</p>
            <p>@Html.TextBoxFor(a => a.EmpCode) </p>
            <p>Emp Name</p>
            <p>@Html.TextBoxFor(a => a.EmpName) </p>
            <p>Emp JOB</p>
            <p>@Html.TextBoxFor(a => a.Job) </p>
            <p>Emp Salary</p>
            <p>@Html.TextBoxFor(a => a.Salary) </p>
            <p><input type="submit" name="btnsubmit" value="Submit" /> </p>


        }

        @ViewBag.Data
    </div>
</body>
</html>
